# Variables para Docker Compose
POSTGRES_USER=usuario_ejemplo
POSTGRES_DB=bd_ejemplo
POSTGRES_PASSWORD=contraseña_ejemplo
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# Variables para la app (si las usas)
SECRET_KEY=tu_secret_key_ejemplo
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
